@font-face {
    font-family: 'BN Nokyo';
    src: url(../../public/FONTS/Nokyo/BNNokyoVariableVF.ttf) format('truetype');
}

@font-face {
    font-family: 'Genos';
    src: url(../../public/FONTS/Genos/Genos-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url(../../public/FONTS/Open-Sans/OpenSans_Condensed-Regular.ttf) format('truetype');
}